[2014-08-07 07:02] feross opened #2 "Switch to zuul for testing"

[2014-10-23 02:45] #2 closed, assigned to nobody

[2014-11-05 07:02] michaelrhodes opened #4 "SHA-1 browser performance"
Hey Feross, I was wondering if you might be interested in replacing [`git-sha1`](https://github.com/creationix/git-sha1) with [`Rusha`](https://github.com/srijs/rusha) to [speed things up, browser-side](http://jsperf.com/rusha/12).

Now, because the `Rusha` API is quite verbose, and node already has `crypto`, [I’ve written a little wrapper module](https://github.com/michaelrhodes/simple-sha1) that

[2015-01-05 06:11] feross commented on #4
`simple-sha1` is way faster! Thanks @michaelrhodes!

[2015-01-05 06:11] #4 closed

[2015-01-05 06:12] feross commented on #4
Released as 3.6.0.

[2015-01-24 07:57] jscinoz opened #8 "Can't set paths when creating a torrent from an array of buffers (and presumably array of streams)"
When creating a torrent from an array of buffers or streams, it's possible to specify the name for each file by adding a .name property to each buffer/stream. Unfortunately, it's impossible to do the same to specify the path of the files within the created torrent. Furthermore, while specifying a name that contains slashes appears to set the path correctly, it results in an invalid name (and a tor

[2015-01-24 08:23] #8 closed

[2015-01-24 08:23] feross commented on #8
Thanks for reporting. Should be fixed now. Published as 3.8.0.

You can continue using the "name" field as you were before, with a path in it. It should create a valid torrent now, but please test and confirm this.

[2015-02-17 14:56] jvinai opened #9 "Add option for ssl-cert for libtorrent ssl compatibility (BitTorrent over SSL)"
Can you add the torrent information "ssl-cert" ? It's containing a X.509 certificate.

[2015-02-17 15:13] jvinai commented on #9
Example :
[code]

[2015-02-17 18:45] astro commented on #9
Is this documented somewhere? BEP-35 looks different and is supported by uTorrent.

[2015-02-17 18:52] jvinai commented on #9
http://blog.libtorrent.org/2012/01/bittorrent-over-ssl/
or
http://www.libtorrent.org/manual-ref.html#ssl-torrents
or
http://www.libtorrent.org/reference-Create_Torrents.html

## set_root_cert()
[code]

[2015-02-17 20:40] feross commented on #9
@jvinai can you link to an example .torrent file that contains an ssl root cert? That would make adding support trivial.

[2015-02-17 21:19] astro commented on #9
Very interesting, and much better than RC4 MSE. Yet, the signed-by-this-cert restriction severely limits applicability. How are you using this technology?

[2015-02-18 08:47] jvinai commented on #9
@astro: i doing a POC with WebTorrent for the server part and initial seed and an iOS client application (using LibTorrent). I have some network restriction (aggressive proxy with deep package inspection) and i must use SSL to encrypt all my BitTorrent traffic.

@feross: i don't have a .torrent yet.

[2015-02-18 20:18] astro commented on #9
@jvinai My deepest sympathy for having to work around broken networks. Do you have experience regarding filtering of the usual BitTorrent encryption ([RC4 MSE](http://wiki.vuze.com/w/Message_Stream_Encryption))?

[2015-02-18 20:23] jvinai commented on #9
I talked with the "network master" and he said we must only use SSL for this project :(

[2015-02-19 03:00] feross commented on #9
@jvinai Finding a sample .torrent file that uses SSL would really help me add support. What is the key name supposed to be? How is the certificate supposed to be encoded?

[2015-02-19 14:12] jvinai commented on #9
@feross the certificate must be encoded in X.509 and the key is "ssl-cert" and must be on the "info" part of the torrent object (where the "length", "private", "files", "pieces", etc are)

[code]

[2015-02-20 02:02] #9 closed

[2015-02-20 02:16] feross commented on #9
Okay, this is supported in 3.9.0. Just pass an `sslCert` option like this:

[code]

[2015-03-29 14:49] No9 opened #10 "Error when only using an empty single file"
Bit of an edge case but...

[code]
Produces this info.length issue
[code]

[2015-04-01 23:34] feross commented on #10
This was a bug in `parse-torrent-file`. Fixed and released a new version.

I noticed `torrent` isn't using the latest version of `parse-torrent`, so I'm not sure if the fix will get inherited. You might want to send a PR to `torrent` to use `^4.0.0` of `parse-torrent`.

[2015-04-01 23:34] #10 closed

[2015-04-02 07:49] No9 commented on #10
Thanks @feross I will look to bump torrent over the weekend

[2015-05-26 19:02] olalonde opened #12 "infoHash non deterministic?"
Is infoHash supposed to be deterministic? I am getting different hashes for the same file when creating the torrent. Sorry, I'm not familiar with the bittorrent protocol.

[2015-05-26 21:49] feross commented on #12
How are you creating the torrent? What code or command are you using?

[2015-05-26 21:49] feross commented on #12
To answer your question, yes. The infoHash is supposed to be deterministic.

[2015-05-27 19:58] olalonde commented on #12
Ok thanks. Let me double check what I'm doing wrong!

[2015-05-27 20:04] olalonde commented on #12
Hmmm can't reproduce, there must have been something wrong with my code.

[2015-05-27 20:04] #12 closed

[2015-05-28 01:13] feross commented on #12
Okay, let me know if you see it come up again, as it really shouldn't happen.

[2015-07-09 02:15] iadj opened #13 "create-torrent should have a callback with the magnet uri & metadata"
Instead of having to retrieve the magnet URI through another torrent parser package, having it in the callback of create-torrent would be way more optimal.

[2015-07-10 21:02] feross commented on #13
Sorry, that's out of scope. This module is for creating .torrent files.

[2015-07-10 21:02] #13 closed

[2015-07-12 03:34] ArtskydJ opened #14 "A buffer without a `name` property errors"
Creating a torrent from a buffer does not work. I have to add a `name` property.

[code]

It's documented that a stream needs a `name` property, but not that a buffer needs it.

[2015-07-14 00:04] #14 closed

[2015-07-14 00:05] feross commented on #14
Thanks - updated the documentation!

[2015-11-02 14:39] parth1729 opened #15 "Error:'Not a valid Bencoding' when trying to open torrent file in a torrent client."
I am using create-torrent to create a torrent file in node js and passing the buffer to a .Net application where I convert the buffer to a byte array and create a torrent file. When I try to open this file in a torrent client(e.g.:utorrent), I get an error saying "not a valid bencoding".Any way to achieve this?

 But, when I open a torrent file created through node, it opens fine. Also, this file

[2015-12-05 06:35] feross commented on #15
This sounds overly complicated and there's probably a bug in your code somewhere. Without more detail, that's what I'm inclined to assume.

This is going to depend on the specific torrent client you're using. Normally, you have to select the location of the file on disk as a separate step.

[2015-12-05 06:35] #15 closed

[2015-12-21 03:29] DiegoRBaquero opened #21 "Seeding one file on Electron - commonPrefix error"
When using create-torrent inside Electron a File from input has the full path.

However, the File object itself cannot be modified for some reason, so assigning item.path won't do anything. Later, when calling item.path.shift() will cause an error

I half solved this by adding `&& input.length > 1` to the condition `if (commonPrefix)` so that the only-item's path doesn't try to get shifted, howeve

[2015-12-28 18:06] feross commented on #21
This is a new issue since @jhiesey added support for nested directories in 3.18.0. Looking into it.

[2015-12-28 18:19] feross commented on #21
Wait, are you saying the issue only happens if you create a one-file torrent?

[2015-12-28 18:43] feross commented on #21
PR here: https://github.com/feross/create-torrent/pull/22

[2016-01-01 21:08] #21 closed

[2016-01-01 21:09] feross commented on #21
Released as 3.20.2.

[2016-01-31 01:23] retrohacker opened #23 "opts.name default behavior confusing"
In the browser, I create an array of files with `.fullPath` set. The array goes in, and then comes out prefixed with the first file's name from the array.

Example:

`['imgs/foo.png','css/bar.css','index.html']` goes in and `['foo.png/imgs/foo.png','foo.png/css/bar.css','foo.png/index.html']` comes out.

This was rather unexpected. Would it be better to make the default either `''` or `'/'` to lea

[2016-02-07 21:40] feross commented on #23
You can workaround this by always specifying a `name` when you call `createTorrent`. Example:

[code]

[2016-02-07 21:41] feross commented on #23
The reason why we do this is that we need to have a name for every torrent file. It's a required field, by the spec.

@retrohacker Do you have a better suggestion for how to choose a default name?

[2016-02-07 21:44] DiegoRBaquero commented on #23
My input: take the name of the root directory for the torrent's name.

if I seed `./`, then take the name of that folder in the outer dir.

[2016-02-07 22:06] feross commented on #23
@DiegoRBaquero What about in the browser where there's no root folder?

[2016-02-07 22:06] feross commented on #23
Actually, the behavior you suggest is already the default behavior for filesystem paths. This issue only comes up in the browser.

[2016-02-07 22:08] DiegoRBaquero commented on #23
Oh, it makes sense. In the browser a name should be required in the opts for multiple files. I do that in BTorrent.

[2016-02-07 22:20] feross commented on #23
@DiegoRBaquero What do you name the torrent if the user drops multiple files onto the page?

[2016-02-07 22:23] DiegoRBaquero commented on #23
@feross A prompt is shown, if user doesn't input anything a default is chosen. See [app.coffee#L87-L90](https://github.com/DiegoRBaquero/BTorrent/blob/master/app.coffee#L87-L90)

[2016-02-08 01:52] retrohacker commented on #23
@feross Ah, I understand the need for a name.

Can the default name be `"/"`? This is what I'm doing to leave the filenames as-is.

Alternatively, we could just document this behavior here: https://github.com/feross/webtorrent#clientseedinput-opts-function-onseed-torrent-

[2016-02-08 02:29] feross commented on #23
So, the filenames that come out of `webtorrent.seed` (really, `parse-torrent`) will automatically be prefixed with the folder name. That's just an old API decision, because it made it easier to write files to disk if their full path was in the "path" property.

If you name your torrent '/', I'm not sure what most clients will actually do with that. Have you tried opening the torrent in other clien

[2016-02-08 02:30] feross commented on #23
Let's just document this behavior for now. If it causes any issues later, we can revisit.

[2016-02-08 02:39] #23 closed

[2016-03-07 00:50] SebMenozzi opened #27 "Problem with browserify"
Hello,

When I try to create bundle.js with the module **create-torrent**, I have an error that I don't understand:
`Error: Cannot find module 'create-torrent'`
Indeed, the module exists so I see no reason I have this error.
_PS: I precise that I have no problem for instance with the webtorrent module, so it comes from the create-torrent one._
If you have an idea...

[2016-03-07 18:04] feross commented on #27
It's hard to help you without more information. Try deleting your `node_modules` folder and running `npm install` again.

[2016-03-07 18:04] #27 closed

[2016-03-07 22:11] SebMenozzi commented on #27
It's strange, I did what you told me and I have no problem now. I don't know what I had done wrong , the module was installed yet ... Well now it works , Thanks :smile:.

[2016-03-08 07:11] feross commented on #27
npm acts weird sometimes :)

[2016-03-10 13:38] parth1729 opened #29 "Can we get the infohash after creating the torrent file?"
Hi, I am using the create-torrent module to create a torrent file. I want to get the info hash immediately after the torrent file is created. Here is the code snippet:

        var file = fs.createWriteStream("C:/Users/"+fileName);
	var request = needle.get(UrlPath).pipe(file);

    file.on('finish', function(){
	file.close(createTorrent("C:/Users//"+fileName,function (err,torrent) {
			if (!err)

[2016-03-10 17:41] rom1504 opened #30 "Announce to several trackers using the cli"
It seems it's only possible to specify one tracker using the --announce option

[2016-03-10 23:28] feross commented on #30
You can do:

[code]

[2016-03-10 23:28] #30 closed

[2016-03-11 01:28] rom1504 commented on #30
Ah yeah nice, thanks

[2016-03-16 18:32] feross opened #32 "Accept buffer/stream options without `name` or `pieceLength` property"
Afterwards, we can remove the special case instructions added in https://github.com/feross/webtorrent/pull/680

[2016-03-19 04:55] feross commented on #32
3.24.0

[2016-03-19 04:57] #32 closed

[2016-04-25 19:56] dcposch opened #36 "Can't add comment"
* I'm calling `createTorrent` with options that include a `comment` field
* I checked that this line runs--so it's setting `torrent.comment`
  https://github.com/feross/create-torrent/blob/4df6bffeb346d38394d85b1e26330cbd3d24008c/index.js#L366
* However, when I run `parse-torrent` on the resulting torrent file, the comment isn't there.

[2016-04-28 11:51] feross commented on #36
I can't reproduce this. It works fine for me.

[2016-04-28 11:57] feross commented on #36
Works fine from the command line:

[code]

So, this is probably a webtorrent-desktop specific issue.

[2016-04-28 12:23] #36 closed

[2016-04-28 12:24] feross commented on #36
Fixed in `parse-torrent-file` v3.3.8.

[2016-04-29 21:52] webarthur opened #39 "{ [Error: ENOENT, stat '/tor-lol2/'] errno: 34, code: 'ENOENT', path: '/tor-lol2/' }"
Code:
[code]

[2016-05-02 15:15] feross commented on #39
Does the folder `/tor-lol2` exist? This error means that it's not a real folder.

[2016-05-02 15:15] #39 closed

[2016-05-16 02:45] FrancoJoaquinTorres opened #41 "Create torrent command line problem."
Hi, i created torrent file whit command line. But, i cant used, the problem is http://prntscr.com/b4jccc
Any solution for this?
Regards!

[2016-05-16 02:45] FrancoJoaquinTorres commented on #41
I'm follow this step https://medium.com/@diegorbaquero/how-to-create-a-swarm-cdn-for-free-with-webtorrent-bfa09d193f71#.q2ewwa8sd

[2016-05-17 22:20] feross commented on #41
This error means that the .torrent file you're passing in is invalid, i.e. it's not really a .torrent file.

Please post the code you're using, otherwise it's not possible to know what the issue is.

[2016-05-17 22:21] #41 closed

[2016-05-18 02:32] FrancoJoaquinTorres commented on #41
Yes! I'm follow this same steps! https://medium.com/@diegorbaquero/how-to-create-a-swarm-cdn-for-free-with-webtorrent-bfa09d193f71#.q2ewwa8sd

First install `npm i -g create-torrent`

then in the folder path with cmd:

`npm create-torrent --urlList 'https://webseed.btorrent.xyz/timedrift-alpine-4k-timelapse.mp4' timedrift-alpine-4k-timelapse.mp4 > timedrift.torrent`

Use this examle `<html>
  <bod

[2016-05-18 02:35] feross commented on #41
The command does not have an `npm` in front of it.

It is:

[code]

Not:

[code]

[2016-05-18 02:47] FrancoJoaquinTorres commented on #41
in windows necessary. When I run a cmd must be specified. But as I run the command? He tells me that is not valid.

[2016-05-18 03:34] feross commented on #41
Sorry -- sounds like you need to follow https://stackoverflow.com/questions/9587665/nodejs-cannot-find-installed-module-on-windows

[2016-05-18 19:07] FrancoJoaquinTorres commented on #41
The problem is caused for space in name of path folder and character type "() or []" to create torrent file.

[2016-06-02 20:57] ngotchac opened #43 "Question / Decoding torrent file"
Hi,
First, this is a great project together with WebTorrent, thanks so much!

I was wondering why would you use `hex` encoding for the pieces here : [https://github.com/feross/create-torrent/blob/master/index.js#L319](https://github.com/feross/create-torrent/blob/master/index.js#L319) ?

I am trying to decode a generated Torrent file but couldn't get it to work.
Here is my code:
[code]

Thanks!

[2016-06-02 21:01] ngotchac commented on #43
Nevermind, got it to work like this:
[code]
Still a bit funky though

[2016-06-02 21:01] #43 closed

[2016-06-02 23:19] feross commented on #43
You can simplify your code to:

[code]

`bencode.decode` takes a `Buffer` argument, and `torrent` is already a `Buffer`.

[2016-06-02 23:23] ngotchac commented on #43
Yep that's true, but it was in fact a case where I got the file content in the browser (from an AJAX request), thus as a String.

[2016-06-02 23:28] feross commented on #43
Ah, I see. You can do binary AJAX. It's really easy if you're using `require('http')` and browserify. It's even easier if you're using something like [`simple-get`](https://github.com/feross/simple-get).

[2016-06-02 23:28] ngotchac commented on #43
Ah okay thanks, I'll have a look ! :+1:

[2016-08-19 08:15] triangle42 opened #45 "pieceLength default value"
What is the default value for the pieceLength parameter?
Suggestion: Write this in the API documentation.

[2016-08-19 08:23] feross commented on #45
The docs already say "A reasonable piece length (~1024 pieces) will automatically be selected for the .torrent file". If you have a suggestion for how to make this clearer, please open a PR.

[2016-08-19 08:23] #45 closed

[2016-08-19 08:23] feross commented on #45
https://www.npmjs.com/package/piece-length is used.

[2017-01-03 09:26] Borewit opened #50 "Throws ENOTSUP if asked to parse a torrent located on a Windows network drive"
Running [test/fs.js](https://github.com/feross/create-torrent/blob/master/test/fs.js):

[code]

Where `T:\` is a shared drive on Windows .

I will further investigate this issue.

[2017-01-03 09:33] Borewit opened #51 "Junk of "@eaDir" subdirectory included in Torrent on Synology DiskStation (NAS Linux OS)"
Issue reported to [junk](https://www.npmjs.com/package/junk): [Please mark directory @eaDir as junk](https://github.com/sindresorhus/junk/issues/6)

[2017-01-15 19:04] georgeaf99 opened #53 "File paths should be normalized"
In the `getFiles` function, if `keepRoot` is true, then the file paths should be made relative to the path; however, a bug arises if file paths input into `create-torrent` have not been normalized.

Example:

input = ['/foo//bar/baz.txt']
path = ['/foo/bar/']

`file.path = file.path.replace(path, '').split(corePath.sep)` will not result in the file being truncated to `baz.txt`

We fixed this by no

[2017-01-16 22:57] CraigglesO commented on #53
I second this. When I made a torrent today it pushed all files up to the root folder. All subfolders died. -_-

[2017-01-18 10:39] feross commented on #51
Thanks for reporting to `junk`. I'll close this since we'll inherit the fix from them once it's fixed.

[2017-01-18 10:39] #51 closed

[2017-01-21 03:54] feross commented on #50
Fixed by https://github.com/feross/create-torrent/pull/52

[2017-01-21 03:54] #50 closed

[2017-01-21 04:04] feross commented on #50
3.26.1

[2017-02-04 04:20] mvanzyl opened #56 "Can not create torrent in browser"
I am not able to create a torrent in the browser, either with the webtorrent.js (minified) or with browserify.

Is there any way we can get a full example of how to create a torrent like there is with how to seed the sintel torrent (which works fine)

the code below does not seem to work in the browser and a full example would be amazing.

var createTorrent = require('create-torrent')
var fs = req

[2017-02-04 04:28] DiegoRBaquero commented on #56
The browser does not offer fs api. You must use a file input.

If you intent to use require(), you will need to browserify your code first.

[2017-02-04 04:55] mvanzyl commented on #56
What would be the correct code to use without require (using the minified js file)?

[2017-02-04 07:08] feross commented on #56
To avoid using `require()` you need to produce a bundle using [browserify](http://browserify.org/):

[code]

So the final code would be:

[code]

[2017-02-04 07:08] #56 closed

[2017-04-19 22:37] cristovao-trevisan opened #59 "urlList arguments not being parsed"
Hello,
the items send to urlList are not being parsed, neither for UTF-8 encoding or whitespaces.
For example I am using this url:
`https://vps2127.publiccloud.com.br/music/Cristóvão Trevisan/Sem Correlação/Estrada.mp3`
And getting the same in the created torrent, but I would like something like this instead:
`https://vps2127.publiccloud.com.br/music/Crist%C3%B3v%C3%A3o%20Trevisan/Sem%20Correla%C3

[2017-04-21 23:28] feross commented on #59
Thanks for the issue.

I don't think this package should encode the URLs it is given. The torrent file format can support unicode characters in strings just fine, so it's actually correct behavior to just pass through the provided URLs directly. If you want to encode the URLs in the torrent, you are free to do that before passing them to `create-torrent`.

[2017-04-21 23:28] #59 closed

[2017-05-06 12:38] mikeal commented on #53
I'm having the same problem, what's the status here @feross?

[2017-08-17 15:11] mvanzyl commented on #56
I am now able to use drag-drop to create a magnet link in the browser and display the contents, which uses a blob using the code below.

Is there a way to create a variable that uses the seeded magnet link from the console? (for example something like "var torrentId = 'magnet from console...'")?

`<body>
<script src="webtorrent.min.js"></script>
<script src="drag-drop.js"></script>
<script src="cr

[2017-08-17 15:21] mvanzyl opened #60 "file.appendTo using method other than blob"
I have a little piece of code that allows me to drag-drop a file on the browser and seed it.
The file displays in the browser using a blob url.

Is there a way to create a variable for the file that uses the actual magnetURI from the console when appending instead of having the file use a blob url? (the current code is live at vanzyl.neocities.org)
I would like to be able to create something like:

[2017-08-17 17:51] DiegoRBaquero commented on #60
Couldn't understand your issue. You want to print the magnet URI of the torrent instead of appending all torrent's files so that users can later use it?

file.appendTo is different depending on the type of file. An image would be appended with an img tag.

You can use just append `torrent.magnetURI` to any part of the DOM.

[2017-08-17 17:58] mvanzyl commented on #60
This is exactly what I want to do just cant seem to figure out how...do you have an example of how this would be done?

Thank you!

[2017-08-17 18:05] DiegoRBaquero commented on #60
`document.body.innerHTML += torrent.magnetURI` would append it to the body.
[
`document.querySelector`](https://developer.mozilla.org/en-US/docs/Web/API/Document/querySelector) would allow you to specify the element you want it in.

More:
https://www.google.com.co/search?q=append+text+to+body+js

[2017-08-17 18:05] #60 closed

[2017-09-29 02:18] greenkeeper[bot] opened #61 "Action required: Greenkeeper could not be activated 🚨"
🚨 You need to enable Continuous Integration on all branches of this repository. 🚨

To enable Greenkeeper, you need to make sure that a [commit status](https://help.github.com/articles/about-statuses/) is reported on all branches. This is required by Greenkeeper because we are using your CI build statuses to figure out when to notify you about breaking changes.

Since we did not receive a CI status

[2017-09-29 13:47] #61 closed

[2017-10-12 00:48] disarticulate opened #63 "Uncaught RangeError: Array buffer allocation failed"
I got a service worker and on certain Buffer files such as:
[code]
I get the error:
[code]
[code]

other buffers appear to work fine. unfortunately when the error hits it's in a worker and I can't inspect.

[2017-10-22 16:09] disarticulate commented on #63
Still getting this. But it appears more often in chrome, but firefox crashes after several loads
[code]

[2017-10-26 00:47] disarticulate commented on #63
I documented in the issue in https://github.com/webtorrent/webtorrent/issues/895

create-torrent will buffer overflow/memory leak if pieceLength is too small.

I tested the browser, and piece lengths smaller than 10000 (bytes) add significant overhead to the JSArrayBuffers as observed in chrome leading to crashes.

A hotfix is not to stay at > 10000 for < 10MB and > 1000000 > 10MB and the larger t

[2017-10-26 00:47] disarticulate commented on #63
For the torrent I'ms creatin' I got this code:"
[code]

[2017-10-30 18:51] marcelodelta opened #64 "Hi, how to add a webseed?"
Hi, how to add a webseed?

create-torrent --urlList 'http://site.com.br/testando.mp4'  testando.mp4 > testando.torrent

Error: ENOENT: no such file or directory, stat 'testando.mp4'
    at Error (native)

[2017-10-30 19:53] #64 closed

[2017-11-24 15:21] yoooov opened #65 "Possible data corruption WARNING when creating a .torrent"
I had this kind of error when creating some torrents :

`WARNING: Possible data corruption detected with value "NaN": Bencoding only defines support for integers, value was converted to "0"
Trace
    at Function.encode.number (/usr/lib/node_modules/create-torrent/node_modules/bencode/lib/encode.js:77:13)
    at Function.encode._encode (/usr/lib/node_modules/create-torrent/node_modules/bencode/lib/

[2018-01-02 04:59] calvincs opened #66 "CLI creation of multi file torrent with webseed"
Can you provide an example of how you would use the create-torrent via the command line for adding multiple files from a directory where you also provide a webseed with the --urlList opt?

My various attempts fail to properly create a .torrent file where the files are able to successfully seed from the url path I provide.

Thank you in advance!

[2018-01-02 15:49] DiegoRBaquero commented on #66
I think, iirc, the webseed should be just one, the directory in which torrent's files live.

[2018-01-07 02:00] calvincs commented on #66
Hello @DiegoRBaquero, I agree in practice.  Although my attempts to do this with the create-torrent command via the command line has not produced a valid torrent file.  Can you post an example of a create-torrent doing this properly that I can test?  Thank you in advance.

[2018-01-12 17:11] calvincs commented on #66
Hello @DiegoRBaquero,  I was able to resolve the issue.  I misunderstood the directory structure which was used during this creation process.
I found my solution [here](https://forum.utorrent.com/topic/31289-how-to-make-torrent-file-with-web-seed-and-multiple-files/), and when applied, works via the command line for creating a webseed.

Thank you!

[2018-01-12 17:11] #66 closed

[2018-01-15 18:12] feross commented on #66
@calvincs Glad you got it figured out!

[2018-01-23 18:36] aszokalski opened #67 "Example doesn't work"
I created path/to/folder folder and copied the example and I get the following error.  (there are files in that folder)

if (input.length === 1 && typeof input[0] !== 'string' && !input[0].name) input[0].name = opts.name
                                                                      ^

TypeError: Cannot read property 'name' of undefined
    at _parseInput (/Users/adamszokalski/Documents/Git

[2018-01-24 01:26] DiegoRBaquero commented on #67
What exact command are you running? What's the folder structure?

[2018-02-28 15:50] greenkeeper[bot] opened #70 "An in-range update of brfs is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **1.5.0** of [brfs](https://github.com/substack/brfs) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/webtorrent/create-torrent/compare/greenkeeper%2Fbrfs-1.5.0">Build failing 🚨<

[2018-02-28 16:58] #70 closed

[2018-03-03 16:33] greenkeeper[bot] opened #71 "An in-range update of readable-stream is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **2.3.5** of [readable-stream](https://github.com/nodejs/readable-stream) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/webtorrent/create-torrent/compare/greenkeeper%2Freadable

[2018-03-08 19:49] feross commented on #71
False alarm, switched to airtap to prevent future failures

[2018-03-08 19:49] #71 closed

[2018-05-03 19:25] feross commented on #65
Do not use WebTorrent for copyright infringement. No one will be able to assist you.

[2018-05-03 19:25] #65 closed

[2018-05-03 19:53] feross commented on #63
While changing the `pieceLength` may fix the problem in your particular code, the underlying cause of an "Array buffer allocation failed" error is running out of memory or creating buffers which are too big. I don't think it is the latter, so my guess is that you're failing to remove torrents when you're done with them and that eventually causes allocations to fail.

[2018-05-03 19:53] #63 closed

[2018-05-03 20:31] disarticulate commented on #63
I don't think that's the case with how I looked into this, it's happening elsewhere with similar errors:

review the following:
https://github.com/webtorrent/webtorrent/pull/1211

[2018-05-03 22:33] feross commented on #63
I'll take a look at that issue in more depth when I get the time. Thanks for sending in a detailed test case like that.

[2018-05-13 15:33] BenmasterTM opened #74 "torrent options.name always need to be the filename with extension?"
If I try to create a new torrent and the options.name is NOT the filename (with extension) the torrent created is not correct:

[code]
[code]

[2018-05-15 09:26] feross commented on #74
If you change the name of the torrent, that causes the infohash to also change.

Any keys that are part of the "info" part of the .torrent file are used when generating the infohash so you can't change them without creating a whole new torrent.

Read the "info dictionary" section of the spec for more information: http://www.bittorrent.org/beps/bep_0003.html

Also, side note: You might want to cons

[2018-05-15 09:26] #74 closed

[2018-07-26 23:43] greenkeeper[bot] opened #80 "An in-range update of webtorrent-fixtures is breaking the build 🚨"
## Version **1.7.0** of **webtorrent-fixtures** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/webtorrent/create-torrent/compare/master...webtorrent:greenkeeper%2Fwebtorrent-fixtures-1.7.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https:

[2018-07-27 00:15] feross commented on #80
False positive

[2018-07-27 00:15] #80 closed

[2018-07-27 00:46] greenkeeper[bot] opened #81 "An in-range update of webtorrent-fixtures is breaking the build 🚨"
## Version **1.7.1** of **webtorrent-fixtures** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/webtorrent/create-torrent/compare/master...webtorrent:greenkeeper%2Fwebtorrent-fixtures-1.7.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https:

[2018-07-27 02:42] #81 closed

[2018-08-29 19:41] DiegoRBaquero opened #85 "Remove fastcast?"
Hey @jakefb

FastCast tracker has been down for a long time now and it has had downtimes before.

Should we remove it?

cc @feross

[2018-08-29 19:54] feross commented on #85
1. How long has it been down for?
2. Does @jakefb intend to keep it up?

I've gotten questions from the Internet Archive about the un-catchable console errors that get printed when a WebSocket connection fails. It would be good to avoid this if possible.

[2018-08-29 20:04] DiegoRBaquero commented on #85
1. I'd go for months now :s
2. He tried to keep it up every time I contacted him, but hasn't answered in a while now.

[2018-08-29 20:14] feross commented on #85
Okay, let's remove it for now. We can easily re-add if he gets it back up and wants us to re-add it. Want to send a PR?

[2018-09-03 02:31] jakefb commented on #85
I'm currently trying to get the web server up again.

The nginx access.log was 20 gb and had filled up all the disk space.

[2018-09-03 02:32] DiegoRBaquero commented on #85
@jakefb Setup rotation :)

[2018-09-03 02:37] jakefb commented on #85
It looks like log rotation is already enabled so I'm not sure how it happened

[2018-09-03 02:38] DiegoRBaquero commented on #85
huh, weird, check the dirs and file type its enabled on

[2018-09-04 03:07] DiegoRBaquero commented on #85
You can easily do that by specifying at least one ws server :)

On Mon, Sep 3, 2018, 9:19 PM Nuru <notifications@github.com> wrote:

[2018-09-04 03:12] Nuru commented on #85
@DiegoRBaquero Specifying a server sets the server for that torrent. It does not change the defaults for when a server is not specified. Furthermore [`webtorrent-hybrid`](https://github.com/webtorrent/webtorrent-hybrid) automatically adds all the `wss` URLs from the defaults to the announce list of every non-private torrent whether any have been set or not.

[2018-09-04 03:14] DiegoRBaquero commented on #85
With no server when none is specified nothing will work, I'll rather keep
them default.

On Mon, Sep 3, 2018, 10:12 PM Nuru <notifications@github.com> wrote:

[2018-09-04 03:27] Nuru commented on #85
@DiegoRBaquero It seems you do not understand me. Currently, the default list of trackers is hard coded at https://github.com/webtorrent/create-torrent/blob/master/index.js#L16-L25. I want a way to replace that list without forking the project.

[2018-09-04 03:45] DiegoRBaquero commented on #85
@Nuru just create a WebTorrent client with `opts.announce = []` and `global.WEBTORRENT_ANNOUNCE = []` :)

[2018-09-11 01:39] DiegoRBaquero commented on #85
@jakefb any updateS?

[2018-09-12 03:11] jakefb commented on #85
@DiegoRBaquero I’m having trouble with the nginx config.

I have been busy with work but I will try get it fixed tomorrow morning. If you want to take a look I would appreciate it.

[2018-09-24 14:29] jakefb commented on #85
Hey @DiegoRBaquero @feross

The Fastcast tracker is back up. Apologies that it took me a while to fix it.

I will look into taking some steps to insure that it stays up.

[2018-09-27 19:39] scanlime opened #86 "Is the clipart MIT-licensed also?"
I don't think the files "img.jpg" and "LICENSE" are compatible with each other, the picture seems to be originally from this artist:

https://www.deviantart.com/zarinaebf/art/Creation-409039420

[2018-09-28 21:04] DiegoRBaquero commented on #85
@jakefb awesome!

[2018-09-28 21:04] #85 closed

[2019-02-19 16:20] greenkeeper[bot] opened #90 "An in-range update of brfs is breaking the build 🚨"
## The devDependency [brfs](https://github.com/substack/brfs) was updated from `2.0.1` to `2.0.2`.

🚨 [View failing branch](https://github.com/webtorrent/create-torrent/compare/master...webtorrent:greenkeeper%2Fbrfs-2.0.2).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

brfs is a devDependency of this project. It **might

[2019-03-17 22:10] ash121121 opened #91 "DHT"
Would it be possible to create a torrent file from this script using Metadata i have obtained from the DHT network?

kind regards

[2019-03-24 16:21] jimmywarting commented on #85
still problematic with fastcast

[2019-03-29 08:24] laksh1010 opened #93 "createTorrent() sample code does not trigger callback function"
i tried the simple code mentioend but seems the **function (err, torrent)**  does not give any reponse at all. even an error if something is wrong. my os is win 10. and i created **/path/to/folder** in project folder and also created a sample test.txt at the end too.

[code]

[2019-04-17 20:29] uxes commented on #93
you’ll have to use writeFileSync

[code]

[2019-04-18 03:28] laksh1010 commented on #93
I already tried it mate. the problem is even that console log before that would not trigger

`            console.log("SHOULD LOG HERE ANYWAY"); // no luck here at all
`

i mean the whatever in call back function , does not trigger.

Do you have any working code mate. kindly let me know if you have.

I am stuck here for days and could not find any torrent creating solution in node either :(

[2019-04-22 13:40] lijy1992 commented on #93
hi
Can you tell me the solution?

[2019-04-22 16:23] uxes commented on #93
I'v been able to generate out.torrent but output file looks that is not able to be used in Transmission either rtorrent, transmission says that torrent file is not valid

`cat > app.js`
[code]

`cat out.torrent`
[code]

[2019-04-26 23:33] #91 closed

[2019-07-20 18:37] feross commented on #90
False positive

[2019-07-20 18:37] #90 closed

[2019-07-31 23:17] ddumont opened #98 "You can't reassign item.path on File items in the web..."
https://github.com/webtorrent/create-torrent/blob/master/index.js#L93

At least not in chrome. (also in chrome it appears there are no path separators in item.path)
Also you may want to be platform safe, and check for windows paths in case someone runs this on windows from the cli?

[2019-08-01 00:12] feross commented on #98
Are you seeing an error when `item.path` is attempted to be re-assigned?

[2019-08-01 01:11] ddumont commented on #98
No.. I see errors later when the filename is set via a pop off the path (still a string) and it's a single letter (1 file in the browser)
Also when choosing 2 files in the browser, it errors out because file.path (still a string) doesn't have a shift() method.

[2019-08-04 05:05] feross commented on #98
When I drop files onto https://instant.io, the `create-torrent` code is run and no errors are produced.

Can you provide a code example that can produce the error that you are describing?

[2019-08-07 01:30] ddumont opened #102 "Progress callbacks?"
Any way we can have a progress callback that gets called periodically to report progress?

[2019-08-07 01:33] ddumont commented on #98
I don't know what to tell you.  Maybe they patched your project and never submitted a pr, or they use an old version before a possible regression. I don't have sourcemaps for the site, so...

[2019-08-07 01:34] ddumont commented on #98
I'll work on getting you an example, but i just have a basic drop panel / input that lets you choose files and it pipes them through webtorrent to create-torrent.

[2019-09-05 05:48] feross commented on #85
The Fastcast tracker seems to be working fine as of today.

[2019-09-07 17:49] feross commented on #86
The image is not included in the npm package.

[2019-09-07 17:49] #86 closed

[2019-09-07 17:53] feross commented on #86
Nonetheless, I changed the image to one that comes from Unsplash, available to use freely.

[2019-09-10 22:56] feross commented on #93
@laksh1010 Did you update `/path/to/torrent` to be the actual path that your files exist at? It would be very helpful if you could share a .zip file with the code you wrote and files you are trying to create a torrent for so we can reproduce the issue.

[2019-09-10 22:56] feross commented on #93
@uxes Please open a new issue for your issue instead of posting in an unrelated existing issue. Thanks!

[2019-09-11 07:06] uxes commented on #93
that is not issue of any kind, just argumenting to guy that wanted to see solution

[2020-02-17 14:54] luckypal opened #110 "Want pieces option for create-torrent"
Hello.

Create-torrent works well for small capacity video files, but it causes some Buffer issue for large capacity files with cordova-file plugin.
For large media file, it calculates pieces every time even I set pieces variable in options.
If we add pieces in options and use it for creating torrent files, it will increase speed for calculating pieces.

![image](https://user-images.githubusercont

[2020-02-17 14:57] DiegoRBaquero commented on #110
It's a possibility to have it, want to create a PR?

[2020-02-17 16:47] luckypal commented on #110
Sure, I wanna create a PR.

[2020-02-17 18:35] luckypal commented on #110
I created pull request and waiting for your review.

[2020-02-18 01:45] luckypal commented on #110
I created pull request and the Travis CI build passed.
Let me know when you have time to review it.
https://github.com/webtorrent/create-torrent/pull/111

And I opened one issue in webtorrent repository.
https://github.com/webtorrent/webtorrent/issues/1817

It seems to load entire file content to memory before seed.
Why should we do that?
Waiting for your response.
Thanks.

[2020-03-28 18:11] brianchirls commented on #98
I can confirm that this is an issue. `File.name` is readonly ([reference](https://developer.mozilla.org/en-US/docs/Web/API/File)).

The code here tries to set the property to an array, but it just remains a string without throwing an error. Therefore `item.path[item.path.length - 1]` is the last letter of the string, not the last chunk of a path that has been split.

[2020-04-03 09:34] PaTiToMaSteR opened #118 "Does not print properly announce list array, only the 1st character"
**What version of this package are you using?**
latest
**What operating system, Node.js, and npm version?**
latest, Win10, also checked in CentOS7

**What happened?**
No matter what you fwd in the --announceList parameter that parse-torrent will always return to you the 1st character of that string

create-torrent -o "DOWNLOADS_DIRECTORY/C0DPdy98e4c.torrent" --announceList "was://try.what.ever" --

[2020-05-29 00:31] feross commented on #85
The fastcast tracker is down again. I'm going to remove it for now to cut down on the warnings. @jakefb if you get it running again, lmk and I'll happily re-add it!

[2020-07-09 15:13] alxhotel commented on #118
Thanks for the feedback, @PaTiToMaSteR.

If you just want to add one tracker, you can use the `announce` parameter (instead of the `announceList`).

But if you want multiple trackers, I think this is not possible at the moment.

The problem is that a "real" `announce-list` would be a list of lists of strings. And I think that can't be done with the current `minimist` package.

So, I think, a possi

[2020-07-19 23:43] subins2000 commented on #110
So what all steps did you do to speed up the torrent building process ? And how much time does it take now ?

[2020-07-19 23:56] luckypal commented on #110
It takes a sudden for preparing torrent now.

[2020-07-20 10:19] subins2000 commented on #110
Can you please elaborate the changes you did to do make torrent creation sudden ? Is there a fork where I can see the changes ?

[2020-07-20 15:14] luckypal commented on #110
You should modify and make torrent file checker function with Native code.
Native<->Javascript is slow, so you shouldn't use Javascript for prepare torrent file.

[2020-11-19 06:51] #118 closed

[2020-11-19 07:00] feross commented on #98
@ddumont instant.io is run by the webtorrent project :)

[2020-11-19 13:05] ddumont commented on #98
I definitely was having errors, and trying to set a file path for browser created file objects does seem wrong...

I will look again to see if I can provide more details about the scenario

[2020-11-23 20:50] feross commented on #110
I don't understand the use case of this issue. It's the job of this package to calculate the pieces of the torrent. What's the advantage to allowing the user to do this step? Are you repeatedly creating many torrents with the same set of pieces and you want to pre-compute the pieces once?

[2020-11-23 20:55] luckypal commented on #110
Hello, Feross. If we compute the pieces in Javascript side, it needs to read all pieces from Native and send the data to Javascript side. then compute them. It takes useless time when it is sent from native to javascript. We can compute the pieces in Native side and return the computed results to Javascript side. I did it and it took a sudden.

[2020-11-23 22:12] feross commented on #110
This sounds like a quirk of Cordova. Why can't you run `create-torrent` in the native side? I don't really want to add hacks for particular environments like Cordova throughout the codebase.

[2020-11-23 23:08] luckypal commented on #110
Yes, I agree. "create-torrent" npm is used for various purpose not only with Cordova.

[2020-11-24 01:52] feross commented on #110
At least at this time, I'm not interested in supporting this option in `create-torrent`. I recommend you maintain a fork of this library for your own purposes. So I'm going to close this issue.

[2020-11-24 01:52] #110 closed

[2021-01-17 03:09] Slender1808 opened #120 "Buffer"
Node JS v12.18.2
create-torrent: 4.4.2
Linux x64 kernel 5.8.0-39-generic
Yes, I am willing to submit a pull request to fix this bug

I'm having trouble generating torrent hash from Buffer
[code]
when the code runs it returns me undefined for the infoHash element
[code]

[2021-01-17 19:11] alxhotel commented on #120
Hi @Slender1808,

Thanks for the feedback!

`create-torrent` does not provide an `infoHash` property. It only returns the *actual* `.torrent` file.

So to get the torrent properties in an object, you will need to use the `parse-torrent` package.

You can see an example of this in the test: https://github.com/webtorrent/create-torrent/blob/master/test/buffer.js

[2021-01-17 19:11] #120 closed

[2021-01-18 13:25] PaTiToMaSteR opened #121 "createTorrent sin File or FileEntry doesn't work"
**What version of this package are you using?**
latest
**What operating system, Node.js, and npm version?**
macos, node 12, npm latest
**What happened?**
Following https://developer.mozilla.org/en-US/docs/Web/API/File/File I created as an example the File object as its described in the example:
[code]
then try to create a torrent using the provided example:
`createTorrent([file], { name: "whatever

[2021-04-02 00:56] jhiesey opened #124 "Tests fail on node 15 because `stream.path` is being overwritten"
**What version of this package are you using?**
4.5.0

**What operating system, Node.js, and npm version?**
Node 15.13.0, Mac

**What happened?**
test/mixed.js fails because the stream returned by `fs.createReadStream` doesn't like having its `path` property overridden here: https://github.com/webtorrent/create-torrent/blob/34ec31a546e0ffc1305d18d990271459e2c751ca/index.js#L105

**What did you exp

[2021-05-13 14:08] DiegoRBaquero commented on #98
Is this still an issue?

[2021-05-17 23:58] jhiesey opened #126 "Duplicate paths should not be allowed"
**What version of this package are you using?**
4.7.0

**What operating system, Node.js, and npm version?**

**What happened?**

When `createTorrent` is passed an array of files, where multiple files have the exact same `name` or `fullPath` values, it will create a torrent containing multiple identical paths.

Such a torrent with duplicate paths in it is not valid, so `createTorrent` should call t

[2021-05-18 00:03] jhiesey opened #127 "item.webkitRelativePath should be used to determine file paths"
**What version of this package are you using?**
4.7.0

**What problem do you want to solve?**
When the items passed to `createTorrent` are [`File` objects](https://developer.mozilla.org/en-US/docs/Web/API/File) the path should come from `item.webkitRelativePath`

**What do you think is the correct solution to this problem?**
Path can be determined as `let path = item.fullPath || item.webkitRelativ

[2021-05-24 02:40] renovate[bot] opened #130 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Open

These updates have all been created already. Click a checkbox below to force a retry/rebase of any.

 - [ ] [chore(deps): update dependency semantic-release to v24](../pull/244)

## Ignored or Blocked

These are blocked by

[2021-05-29 20:45] renovate[bot] opened #134 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `package.json`
Error type: The renovate configuration file contains some invalid settings
Message: `Configuration option 'packageRules[2].node' should be a json object, Invalid configuration option: author, Invalid configuration option: bi

[2021-05-30 03:40] #134 closed

[2021-08-05 20:04] #98 closed

[2021-09-07 16:28] RangerMauve opened #151 "Support Async Iterators of files"
**What version of this package are you using?**

4.5.0

**What problem do you want to solve?**

I'm using a async source for my list of files and currently create-torrent only supports a synchronous Array of files.

Specifically, I'm trying to upload data from a multipart-formdata HTTP request using [busboy](https://github.com/mscdex/busboy) directly into a torrent without extra buffering to the f

[2022-02-22 14:20] jimmywarting commented on #127
thinking we should discourage this webkitRelativePath and instead use whatwg/fs (aka file system access)

[2022-02-24 01:27] RangerMauve commented on #151
Still relevant, just haven't had time yet. 😅 I've had to store data in a temporary folder in the meantime.

[2022-02-24 14:31] ThaUnknown commented on #151
why not just
[code]
?

[2022-02-24 17:55] RangerMauve commented on #151
Yeah, this would be for GBs of data. It'd be nice if we could make use of streaming so that it doesn't all have to be buffered in memory or on disk first. 😅

At the moment I'm buffering the data to disk and then creating the torrent from that, then moving the torrent to its final location.

[2022-02-24 18:19] ThaUnknown commented on #151
this supports readable streams, you could convert the files into readable streams instead and pass those in syncronously,
you can even do it with asyncIterator using
[code]
I don't know what busboy spits out, but it shouldn't be hard to convert the output into streams, especially if it's async

[2022-02-24 18:22] RangerMauve commented on #151
Sadly with busboy you need to process each file (which is a node readable stream) before you get the next one. Hence the need for an async-iterator of file streams. 😅

[2022-02-24 18:23] ThaUnknown commented on #151
you could stall the other readable streams until another one finishes, and if they are say 8 files, create 1 real streams, 7 fake stalled ones, an as a stream/file finishes move to the next one

[2022-02-24 18:25] RangerMauve commented on #151
The other readable streams don't even get created until the first file is fully processed.

Very frustrating TBH. 😅

[2022-02-24 18:29] ThaUnknown commented on #151
not really a problem, that's why you're stalling the other streams in the first place, you can very easily solve this with close to 0 overhead

[2022-03-02 12:06] #102 closed

[2022-03-03 12:07] #93 closed

[2022-03-03 12:07] #53 closed

[2022-04-04 04:17] TopLancer1204 opened #164 "Seeding is not working"
Windows 10, Node 16.14.2

not working seeding so can not download...

[2022-04-11 09:23] 0Dmitry opened #166 "Allow to exclude the root folder name from file paths"
**What version of this package are you using?**
5.0.2
**What problem do you want to solve?**
I want to create a torrent file from a folder but I don't want the file paths within the generated torrent file to contain that folder name. For example if I have a this folder structure
[code]
In resulting torrent file I want to get this structure:
[code]
But instead I am getting the original structure wi

[2022-04-27 21:21] RangerMauve commented on #151
Still relevant, sadly the approaches discussed so far haven't worked out.

[2022-05-01 12:09] #127 closed

[2022-05-02 17:28] rwv opened #168 "Default trackers differ in `index.js` and `README.md`"
**What version of this package are you using?**

master branch

**What operating system, Node.js, and npm version?**

N/A

**What happened?**

Default trackers differ in `index.js` and `README.md`

https://github.com/webtorrent/create-torrent/blob/83ac5172d55fb89ab530fa21ad31fbdb2af3773a/index.js#L18-L26

https://github.com/webtorrent/create-torrent/blob/83ac5172d55fb89ab530fa21ad31fbdb2af3773a/RE

[2022-06-10 12:07] #164 closed

[2022-06-17 12:08] #166 closed

[2022-08-06 05:39] qascade commented on #168
These are the trackers that are not in `index.js`
[code]
What is the need here, do we want to take union of all the trackers or do we want to exclude some trackers from the list?

[2022-08-15 10:01] nanamicat opened #177 "feature request: BitTorrent v2 support"
https://blog.libtorrent.org/2020/09/bittorrent-v2/

[2022-08-27 12:43] ThaUnknown commented on #151
https://github.com/webtorrent/create-torrent/issues/151

[2022-09-02 21:28] #151 closed

[2022-09-02 21:29] #124 closed

[2022-09-02 21:31] ThaUnknown commented on #121
this has been fixed for a while no?

[2022-10-14 22:51] resession commented on #177
this feature would be great

[2022-11-22 06:09] Sec-ant commented on #177
I'm working on a browser-targeted ESM package that supports creating v1, v2 or hybrid torrents, as well as bencoding and bdecoding functions. It's not production-ready for now but I'd be glad if this package will serve anyone's needs: https://github.com/Sec-ant/torrefy

[2022-11-22 14:18] ThaUnknown commented on #177
unfortunate that you opted to use web streams, as they are slower than node streams which are already VERY slow, personally I've already migrated all of create-torrent to use[ async iterators](https://github.com/webtorrent/create-torrent/pull/187) as they work on any platform and are quite a bit faster, platform independence being the big one. It's also really easy to convert iterators to/from nod

[2022-11-22 15:12] Sec-ant commented on #177
@ThaUnknown Thank you for the suggestion, it appears I missed the lesson 😄. I'll start looking into refactoring it.